.articles {
    margin-top: -250px;
}

#hero-image {
    background-image: url('../../server/public/images/vic.jpg');
    background-size: cover;
    background-position: center center;
    padding-bottom: 150px;
}

#hero-admin {
    background-image: url('../../server/public/images/admin.jpg');
    background-size: cover;
    background-position: center center;
    padding-bottom: 150px;
}

.home-image {
    object-fit: cover;
}

#welcome-admin {
    background: rgb(0,64,105);
    background: linear-gradient(90deg, rgba(0,64,105,1) 0%, rgba(2,105,138,1) 20%, rgba(0,212,255,1) 81%);
}
