.articles {
    margin-top: -250px;
}

#hero-image {
    background-image: url('../../server/public/images/vic.jpg');
    background-size: cover;
    background-position: center center;
    padding-bottom: 250px;
}

.home-image {
    object-fit: cover;
}

