@import "./variables.scss";

// https://couds.github.io/react-bulma-components/?path=/story/navbar--default

.navbar {
  font-size: x-large;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #edededeb;
  width: 100%;
}

.navbar-item {
  font-family: Georgia, serif;
  color: black;
}


.location-search-input {
  font-size: large;
  height: 30px;
  margin-top: 10px;
  width: 400px;
  line-height: 10px;
}

.autocomplete-dropdown-container {
  position: fixed;
  width: 400px;

  
}

.Loading {
  background-color: rgba(27, 163, 209, 0.801);
 

}

.searchbox {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  white-space: normal;

}