@import "./variables.scss";

// https://couds.github.io/react-bulma-components/?path=/story/navbar--default

.navbar {
  height:50px;
  display:flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #edededeb;
  width: 100%;
  margin: 0;
}

.location-search-input {
  height: 30px;
  margin-top: 10px;
  width: 300px;
}

.autocomplete-dropdown-container {
  position:fixed;
  width:300px;
}

.Loading {
  background-color: rgba(27, 163, 209, 0.801);
}
